* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color-w: hsl(0, 0%, 100%);
  --color-pb: hsl(195, 46%, 40%);
  --color-gb: hsl(195, 91%, 25%);
  --color-dp: rgba(244, 252, 255, .2);
  --color-dg: hsl(240, 6%, 13%);
  --color-b: hsl(240, 5%, 7%);
}

body, input {
  font-family: Mulish;
}

header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 2.6rem;
  padding: 1.2rem 2.8rem;
  background-color: var(--color-gb);
}

header form input {
  background-color: var(--color-pb);
  color: var(--color-w);
  border: none;
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  width: 100%;
  border-radius: .4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

header form input::placeholder {
  color: var(--color-w);
}

header .avatar {
  width: 4.0rem;
  height: 4.0rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 150ms ease-out;
}

header .avatar:hover {
  outline: 5px solid var(--color-dp);
}

.top-img img {
  width: 100%;
}

#app {
  padding-left: 2.2rem;
}

#app h1 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.8rem;
  margin: 3.1rem 0 .8rem;
  color: var(--color-dg);
}

.buttons {
  display: flex;
  gap: 1.2rem;
}

.buttons button {
  border-radius: 50%;
  display: flex;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: 100ms linear;
}

button:hover {
  outline: 5px solid rgba(6, 94, 124, .4);
}

.main-text {
  margin: 3.1rem 2.1rem 3.4rem 0;
  font-size: 1.6rem;
  color: var(--color-b);
  line-height: 2.6rem;
  margin-right: 2.1rem;
}

aside article {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-left: 2.2rem;
}

aside article h1 {
  font-size: 2.4rem;
  line-height: 1.7rem;
  color: var(--color-dg);
}

.news {
  display: flex;
  gap: 1.6rem;
  padding-right: 1.1rem;
  transition: background-color 150ms ease-in;
}

.news:hover {
  background-color: rgba(6, 94, 124, .4);
  border-radius: .6rem;
  outline: 6px solid rgba(6, 94, 124, .4);
}

.news img {
  border-radius: .6rem;
  object-fit: cover;
  cursor: pointer;
}

.details h4 {
  font-size: 1.8rem;
  color: var(--color-dg);
  cursor: pointer;
}

.details p {
  margin-top: .3rem;
  color: var(--color-b);
  font-size: 1.4rem;
}

footer {
  margin-top: 3.9rem;
  text-align: center;
  background-color: var(--color-pb);
  padding: 2.65rem 1.6rem;
}

footer p {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-w);
}


@media (width > 770px) {

  body {
    background-color: hsl(196, 100%, 98%);
    overflow-x: hidden;
  }

  header {
    padding: 1.2rem 11.2rem;
  }
  
  header > * {
    animation: move .4s;
  } 

  main {
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 3.5rem;
    margin-top: 4.4rem;
  }
  
  .top-img img {
    content: url(./assets/01-desktop.jpg);
    padding-left: 10.9rem;
  }

  #app {
    padding: 0;
    margin-left: 11.2rem;
  }

  #app h1 {
    margin: 0;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    margin-top: 3.1rem;
  }

  .left {
    animation: flash .4s;
  }

  .right {
    margin: 0 auto;
  }

  .right article {
    margin: 0;
    max-width: 39.5rem;
  }
  
  .news, .right h1 {
    --delay: .3s;
    animation: appear .4s var(--delay) backwards;
  }

}

@keyframes flash {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.7);
    transform: translateX(100%);

  }

  50% {
    transform: scale(1.2);
  }
}